/*
xs WIDTH [(320)..767]
sm WIDTH [768..991]
md WIDTH [992..1199]
lg WIDTH [1200..]
*/
$sm-min:  768px;
$md-min:  992px;
$lg-min: 1200px;
$xs-max: ($sm-min - 1);
$sm-max: ($md-min - 1);
$md-max: ($lg-min - 1);
