@import 'base';
@import 'color';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $font-color;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
}

h3,
p {
  margin: 0.5em 0;
}

a {
  color: $font-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

.form-wrapper {
  border: solid 1px $border-color;
  border-radius: 3px;
  padding: 10px;
}

form {
  .form-group {
    line-height: 1.65em;
    margin: 0 0 10px;

    label {
      display: block;
    }

    .form-control {
      box-sizing: border-box;
      padding: 8px 6px;
      width: 100%;
    }
  }
}

.button {
  border: none;
}
